@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #363636;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  min-height: 700px;
}

.heart {
  position: absolute;
  width: 480px;
  height: 480px;
  top: 140px;
  left: 0;
  z-index: 5;
}

.text-wrap {
  margin: 280px 20px 50px 90px;
  position: relative;
  z-index: 10;
}
.title {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}
.info {
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  max-width: 450px;
}

.line-wrap {
  position: relative;
  margin: 25px 0 0 40px;
  z-index: 4;
}
.crane-wrap {
  position: absolute;
  width: 300px;
  height: 290px;
  right: -20px;
  top: 250px;
  z-index: 5;
}
